body {
  background: lavender;
}
ul{
  list-style-type:none;
  width:100%;
  text-align:center;
  position:fixed;
}
li{
  float:left;
}
li a{
 color:brown;
 padding:50px;
 font-family: "Papyrus", Fantasy;
 text-decoration-line: none;
}
li a:hover{
  background-color:white;
}
h2{
  color: brown;
  font-size: 500%;
  letter-spacing; 4px;
  text-decoration-line: underline;
}
p{
  color: white;
  font-size: 300%;
}
img{
  width: 50%;
  border: dashed yellow;
}
}
